/* body {
  margin-top: 20px;
}
.card-style2 {
  position: relative;
  display: flex;
  transition: all 300ms ease;
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0;
  height: 100%;
}
.card-style2 .card-img {
  position: relative;
  display: block;
  background: #ffffff;
  overflow: hidden;
  border-radius: 0.25rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card-style2 .card-img img {
  transition: all 0.3s linear 0s;
}
.card-style2:hover .card-img img {
  transform: scale(1.05);
}
.card-style2 .date {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1;
  color: #16bae1;
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 24px;
  text-align: center;
  border: 2px solid #ededed;
  display: inline-block;
  background-color: #ffffff;
  text-transform: uppercase;
  border-radius: 0.25rem;
}
.card-style2 .date span {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #00baee;
  border-radius: 0.25rem;
}
.card-style2 .card-body {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 2rem;
}
.card-style2 .card-body h3 {
  margin-bottom: 0.8rem;
}
.card-style2 .card-body h3 a {
  color: #004975;
}
.card-style2 .card-body h3 a:hover {
  color: #00baee;
}
.card-style2 .card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  background: transparent;
  padding-right: 2rem;
  padding-left: 2rem;
  -ms-flex-align: end;
  align-items: flex-end;
}
.card-style2 .card-footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
}
.card-style2 .card-footer ul li {
  font-size: 15px;
}
.card-style2 .card-footer ul li a {
  color: #394952;
}
.card-style2 .card-footer ul li a:hover {
  color: #00baee;
}
.card-style2 .card-footer ul li i {
  color: #00baee;
  font-size: 14px;
  margin-right: 8px;
} */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  padding: 120px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: rgb(4, 4, 69);
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #e39c0e;
}
